

body{
    margin: 0;
    padding: 0;
}



/*  --------  header   ------------ */
header{
    height: auto;
    text-align: center;
    background:url('../photos/header11.jpg') no-repeat;
    background-size: cover;
}
.headings{
    padding: 370px 0;
}

.headings h1 {
    text-transform: uppercase;
    color: #fff;
    border-bottom: 2px solid #fff;
    margin: 0 auto;
    padding: 5px 0;
    width: 850px;
    font: bold 62px Arial, Helvetica, sans-serif;
    white-space: nowrap;
}

.headings h4{
    border: 2px solid #fff;
    color: #fff;
    white-space: nowrap;
    text-transform: uppercase;
    font: 400 28px Arial, Helvetica, sans-serif ;
    width: fit-content;
    margin: auto;
    margin-top: 60px;
    padding: 20px 35px;
   
}

.headings h4 a {
    color: #fff;
    text-decoration: none;
}

.headings h4:hover{
    border: 2px solid #2ecc71;
    transform: perspective(500px) translateZ(80px);
    transition: all .3s ease-in-out;
}

@media (min-width:500px) and (max-width:767px){
    /*  --------  header   ------------ */
    .headings{
        padding: 240px 0;
    }

    .headings h1 {
        border-bottom: 1px solid #fff;
        width: 600px;
        font: bold 43px Arial, Helvetica, sans-serif;
    }

    .headings h4{
        border: 1px solid #fff;
        font: bold 12px Arial, Helvetica, sans-serif ;
        margin-top: 30px;
        padding: 10px 24px;

    }
   
}

@media (min-width:768px) and (max-width:992px){

    /*  --------  header   ------------ */
    .headings{
        padding: 240px 0;
    }

    .headings h1 {
        border-bottom: 1px solid #fff;
        width: 600px;
        font: bold 43px Arial, Helvetica, sans-serif;
    }

    .headings h4{
        border: 1px solid #fff;
        font: bold 12px Arial, Helvetica, sans-serif ;
        margin-top: 30px;
        padding: 10px 24px;
    
    }
}

@media (min-width:993px){
    
    /*  --------  header   ------------ */
    .headings{
        padding: 240px 0;
    }

    .headings h1 {
        border-bottom: 1px solid #fff;
        width: 600px;
        font: bold 43px Arial, Helvetica, sans-serif;
    }

    .headings h4{
        border: 1px solid #fff;
        font: bold 12px Arial, Helvetica, sans-serif ;
        margin-top: 30px;
        padding: 10px 24px;
    
    }
}






